$white: #fff;
$light-grey: #808080;
$grey: #58585a;
$black: #000000;
$dark-grey: rgba(255, 255, 255, 0.502);
$light-brown: #363334;
$dark-brown: #2e2829;
$darker-brown: #231f20;
$creamy-orange: #b07463;
$light-yellow: #fff600;
$orange-yellow: #fec029;
$mustard-yellow: #ffb819;
$dark-yellow: #fbb400;
$pink: #e7279b;
$bright-pink: #e31c95;
$dark-pink: #de098e;
$light-pink: #f97d99;
$ems-red: #c05b5b;
$error-red: #eb3a4c;
$bright-purple: #862285;
$dark-purple: #631da0;
$light-pearl: #e7f9ff;
$light-green: #39d885;
$red: #ee1b47;
$purple: #e7279b;
$light-blue: #5cb0ad;
$blue: #407d94;
$orange: #c96641;
$dark-blue: #105a77;
$blue-organize: #01499d;
$light-blue2: #cefffd;
$light-blue3: #c3e3df;
$dark-blue2: #3a7890;
