@import '../../assets/styles/color.scss';

.footer {
  background-color: $white;
  .area {
    background-color: $dark-blue;
    height: 4rem;
  }
  .footer-detail {
    grid-template-columns: 250px 220px 600px;
    justify-content: space-evenly;
    padding: 3rem 0;
    margin: 1rem;
    border: 3px solid $light-blue;
    .logo {
      text-align: center;
      margin: auto;
    }
    .contact-title {
      font-size: 40px;
      font-weight: 300;
      color: $orange;
      .tag-name {
        padding-bottom: 2rem;
        .left,
        .right {
          vertical-align: middle;
        }
      }
      .tag-name.mail {
        padding-bottom: 0;
      }
    }
    .contact-detail {
      font-size: 30px;
      font-weight: 300;
      color: $grey;
      .tag-detail {
        line-height: 1.2;
        vertical-align: middle;
        padding-top: 1.3rem;
        a.nav-link {
          color: $grey;
          padding-left: 0;
          vertical-align: middle;
          padding-top: 0.3rem;
        }
      }
      .tag-detail.mail {
        padding-top: 2.8rem;
      }
    }
  }
}
